* {
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 3vh;
    text-decoration: underline;
    text-transform: uppercase;
    color:cadetblue;
}

#box {
    border: 1px solid black;
    margin: 5vh 30vh;
}

#title {
    padding: 2vh;
}

div.container {
    border: 1px solid black;
    padding: 1vh;
    margin: 2vh 8vh;
}
.buttons {
    display: flex;
    justify-content: space-around;
    padding: 2vh;
}



